.App {
  /* text-align: center; */
  /* display: flex; */
}

.design {
  width: 63%;
  height: 100vmin;
  margin-left: 1em;
  padding: 0.5em;
  background-color: #d5d5d5;
  overflow: none;
}

.side {
  width: 32%;
  height: 100vmin;
  padding: 0.5em;
  background-color:  #96858f;
}

.bottom {
  height: 500px;
  overflow: scroll;
  color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  text-align: center;
  color: #fff;
}

.size-selector {
  display: flex;
  padding: 10px;
  font-weight: bold;
  justify-content: center;
}

h1 {
  font-size: 35px;
  margin: auto;
  color: #fff;
}

.input-field {
  padding: 1em;
}

input[type=number] {
  width: 10em;
  padding: 7px;
  border-radius: 10px;
}

input[type=submit] {
  width: 10em;
  padding: 7px;
  border-radius: 10px;
  color: #000;
}

.center-text {
  text-align: center;
  color: #fff;
}

.table tr, td {
  border-collapse: collapse;
  border: 2px solid black;
}

.btn-area {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.content {
  display: flex;
}

td, tr {
  border-collapse: collapse;
  border: 1px solid #000;
  width: 2.5em;
  height: 2.5em;
}

tr.row::after {
  background-color: crimson;
}

table {
  margin: 0 auto;
}