.App {
  /* text-align: center; */
  /* display: flex; */
}

.design {
  width: 63%;
  margin-left: 1em;
  padding: 0.5em;
  background-color: green;
}

.side {
  width: 32%;
  padding: 0.5em;
  background-color: blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  text-align: center;
}

.size-selector {
  display: flex;
}

.input-field {
  padding: 1em;
}

.center-text {
  text-align: center;
}

.table tr, td {
  border-collapse: collapse;
  border: 2px solid black;
}

.btn-area {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.content {
  display: flex;
}